.feynman__link {
  align-self: flex-end;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: royalblue;
  font-weight: normal;
}
