.khan__buy-link {
  margin-bottom: auto;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 1s linear;
}

.khan__buy-link:hover {
  opacity: .5;
}
